.progress-bar-container {
    background-color: #eee;
    border-radius: 20px;
    border: 1px solid #333;
    height: 20px;
    width: 100%;
  }
  
  .progress-bar {
    border-radius: 20px;
    background-color: gray;
    height: 100%;
  }

.hp {
    background-color: rgb(38, 190, 96);
}

.attack{
    background-color: rgb(190, 38, 38);
}

.defense {
    background-color: rgb(151, 151, 151);
}

.special-attack{
    background-color: rgb(122, 38, 190);
}

.special-defense{
    background-color: rgb(38, 129, 190);
}

.speed{
    background-color: rgb(190, 180, 38);
}