/* Apply CSS to the entire SVG */
.star-svg {
    cursor: pointer;
}
  
/* Apply CSS to the path element inside the SVG */
.star-svg path {
    fill: none;
    stroke: rgb(180, 180, 0);
    stroke-width: 2px;
    stroke-linejoin: round;
}

.star-svg path.filled:not(.hovering), .star-svg path.unfilled.hovering  {
    fill: yellow;
    transition: .4s;
}

.star-svg path.unfilled:not(.hovering), .star-svg path.filled.hovering {
    fill: none;
    transition: .4s;
}

  