<img src="../../../assets/pokedex.png" class="fixed">
<div class="viewable">
    <div class="container-list">
        <app-home-list [offset]="offset" [limit]="limit"></app-home-list>
    </div>

    <div class="favorites">
        <!-- Inserir os favoritos -->
    </div>
</div>
<img src="../../../assets/avancar.png" alt="" class="btn next">
<img src="../../../assets/voltar.png" alt="" class="btn back">
<img src="../../../assets/mais.png" alt="" class="btn add">
<img src="../../../assets/menos.png" alt="" class="btn remove">