<div class="all">
    <div class="fix" #container>
        <div class="container">
            <app-home-list [next]="next" [previous]="previous" [plus]="plus" [minus]="minus"></app-home-list>
        </div>
    </div>
    <img src="../../../assets/pokedex2.png" class="fixed">
</div>

<img src="../../../assets/avancar.png" alt="" class="btn next" (click)="fnext()">
<img src="../../../assets/voltar.png" alt="" class="btn back" (click)="fprevious()">
<img src="../../../assets/mais.png" alt="" class="btn add" (click)="fplus()">
<img src="../../../assets/menos.png" alt="" class="btn remove" (click)="fminus()">
<img src="../../../assets/home.png" alt="" class="btn home" (click)="home()">
<img src="../../../assets/fav.png" alt="" class="btn fav" (click)="favorite()">