/* You can add global styles to this file, and also import other style files */
@import url('./assets/styles/colors.css');
@import url('./assets/styles/buttons.css');

.all {
    display: flex;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
}


.dex {
    display: flex;
    justify-content: center;
    overflow: hidden;
position: relative;
top: 0;
height: 100vh;
width: 50vw;
}



.fixed {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50vw;
} 

.fix { 
    top: 3.3vh;
    position: absolute;
    height: 80.5vh;
    width: 47.4vw;
    overflow-y: auto;
    /* scrollbar-width: none; */
    -ms-overflow-style: none;
    z-index: 10;
    background-image: url('./assets/pokeball-gray.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #c9e1f285; */
}

.fix::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(215, 215, 215, 0.7);
    border-radius: 5px;
}

.fix::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

.container {
    position: relative;
    justify-content: center;
}
.container-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    /* width: 62vw; */
    height: auto;
    align-items: start;
    align-content: start;
}

.favorites {
    margin-left: 9.5vw;
    margin-top: 3vh;
    display: block;
    width: 24vw;
    height: auto;
    /* background-color: green; */
    overflow-y: auto;
}

.viewable {
    display: flex;
    margin-top: 3vh;
    margin-left: 1vw;
}




